body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
}

.faq-item {
  cursor: pointer;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-answer {
  display: none;
  padding-top: 0.5rem;
}

.hero-bg {
  background: linear-gradient(180deg, rgba(254,255,255,1) 0%, rgba(255,255,255,1) 100%);
}

.logo-image {
  height: 50px; 
  width: auto; 
}

.home-page {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
}
