.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url();
  background-size: cover;
}

.login-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-image: url('../assets/images/31.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-type-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-type-toggle button {
  width: 48%;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #333;
}

.user-type-toggle button.active {
  background-color: #007bff;
  color: white;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #333;
}

.input-group input:focus {
  border-color: #007bff;
  background-color: rgba(255, 255, 255, 0.5);
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.forgot-password, .register {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.captcha-info {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}

.captcha-info a {
  font-size: 12px;
  color: #007bff;
}

.login-page {
  background-size: 20%; 
  background-position: left top; 
  background-repeat: no-repeat; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}
