<<<<<<< HEAD
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/images/33.png');
  background-size: cover;
}

.login-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.user-type-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-type-toggle button {
  width: 48%;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #333;
}

.user-type-toggle button.active {
  background-color: #007bff;
  color: white;
=======
.login-box {
  background-image: url('../assets/images/33.png');
  background: rgba(255, 255, 255, 0.3); 
  padding: 40px; 
  border-radius: 10px;
  width: 400px; 
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  margin: auto; 
>>>>>>> 26336ac1e21d82450da4503f33b06898e27ba320
}

.input-group {
  margin-bottom: 15px;
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> 26336ac1e21d82450da4503f33b06898e27ba320
}

.input-group input {
  width: 100%;
  padding: 10px;
<<<<<<< HEAD
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: #333;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
=======
  border: 1px solid rgba(255, 255, 255, 0.5); 
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2); 
  color: white; 
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
  color: #333;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5); 
  color: black; 
>>>>>>> 26336ac1e21d82450da4503f33b06898e27ba320
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

<<<<<<< HEAD
.submit-button:hover {
  background-color: #0056b3;
}

.forgot-password, .register {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
=======
button:hover {
  background-color: rgba(255, 255, 255, 0.7); 
}

.forgot-password, .register, .captcha-info {
  margin-top: 15px;
  font-size: 14px;
>>>>>>> 26336ac1e21d82450da4503f33b06898e27ba320
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.captcha-info {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}

.captcha-info a {
  font-size: 12px;
  color: #007bff;
}

<<<<<<< HEAD
.login-page {
  background-size: 20%; 
  background-position: left top; 
  background-repeat: no-repeat; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
=======

.login-page {
  
  background-size: 20%; 
  background-position: left top; 
  background-repeat: no-repeat; 
  height: 900vh; 
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
>>>>>>> 26336ac1e21d82450da4503f33b06898e27ba320
}
